@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-geist-sans);
}

html {
  color-scheme: dark;
}

body {
  font-family: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
}
